tmp/
*~
\#*
debs/
*/tmp/*
*/build/
*/.pc/
*.orig.tar.gz
*.orig/
*.dsc
*.deb
*.changes

# midas
midas/midas/
midas/mxml/

# roody
roody/roody/
roody/rootana/

# elog
elog/elog/
mxml/mxml/

# rome
rome/rome/

