Source: mdaq
Section: misc
Priority: extra
Maintainer: Exaos Lee <exaos.lee@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libc6-dev, zlib1g-dev, libmysqlclient-dev, unixodbc-dev, root-system, bash-completion, python-yaml
Standards-Version: 3.8.0
Homepage: http://midas.psi.ch/
Vcs-Svn: svn+ssh://svn@savannah.psi.ch/repos/meg/midas/trunk
Vcs-Browser: http://savannah.psi.ch/websvn/listing.php?repname=midas&path=%2Ftrunk%2F

Package: mdaq-doc
Architecture: all
Conflicts: daq-midas-doc
Replaces: daq-midas-doc
Description: MIDAS DAQ software - documentation
 Midas is a versatile Data acquisition System for medium scale physics
 experiments. Midas is a result of a development effort made by Stefan Ritt at
 PSI/Switzerland (Midas@PSI) in collaboration with the members of the Data
 acquisition group at Triumf/Canada.
 .
 This document will try to answer most of your questions regarding
 installation, setup, running, and development.
 The documentation package also contains examples.

Package: mdaq-root
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, root-system
Provides: mdaq
Conflicts: mdaq-noroot, daq-midas-root, daq-midas-dev-root
Replaces: mdaq-noroot, daq-midas-root, daq-midas-dev-root
Description: MIDAS DAQ software suite with root
 Midas is a versatile Data acquisition System for medium scale physics
 experiments. Midas is a result of a development effort made by Stefan Ritt at
 PSI/Switzerland (Midas@PSI) in collaboration with the members of the Data
 acquisition group at Triumf/Canada.
 .
 The main purpose of the MIDAS DAQ is to provide:
 * data collection from local and/or remote hardware source.
 * data recording to common storage media.
 * Full data flow control.
 .
 This package provide the full MIDAS environment with 'root-system' installed.

Package: mdaq-noroot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: mdaq
Conflicts: mdaq-root, daq-midas-noroot, daq-midas-dev-noroot
Replaces: mdaq-root, daq-midas-noroot, daq-midas-dev-noroot
Description: MIDAS DAQ software suite without root
 Midas is a versatile Data acquisition System for medium scale physics
 experiments. Midas is a result of a development effort made by Stefan Ritt at
 PSI/Switzerland (Midas@PSI) in collaboration with the members of the Data
 acquisition group at Triumf/Canada.
 .
 The main purpose of the MIDAS DAQ is to provide:
 * data collection from local and/or remote hardware source.
 * data recording to common storage media.
 * Full data flow control.
 .
 This package provide MIDAS environment without ROOT.

# Package: mdaq-utils
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}
# Description: MIDAS DAQ software - extra stuff
#  Midas is a versatile Data acquisition System for medium scale physics
#  experiments. Midas is a result of a development effort made by Stefan Ritt at
#  PSI/Switzerland (Midas@PSI) in collaboration with the members of the Data
#  acquisition group at Triumf/Canada.
#  .
#  This packages provides some extra stuff included in MIDAS.

