#!/usr/bin/make -f
# -*- makefile -*-
#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/autotools.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# PKGDIR
override_dh_auto_build:
	dh_auto_build -- build
override_dh_auto_configure:
	@echo "Skip!"

pre-build:
	cd $(CURDIR) && ./prepare-src.sh

## Build source with root support
BUILD_R_TMPD=$(CURDIR)/build/root
builddir-root: pre-build
	@mkdir -p $(BUILD_R_TMPD)

build-root: builddir-root
	@cd $(BUILD_R_TMPD) && \
	$(CURDIR)/autoconf/configure --enable-root --prefix=/usr \
	   --exec-prefix=/usr/lib/mdaq --docdir=/usr/share/doc/mdaq \
	   --includedir=/usr/lib/mdaq/include \
	   --datadir=/usr/share/mdaq \
	&& $(MAKE) DESTDIR=`pwd` install

## Build source without root support
BUILD_NR_TMPD=$(CURDIR)/build/noroot
builddir-noroot: pre-build
	@mkdir -p $(BUILD_NR_TMPD)

build-noroot: builddir-noroot
	@cd $(BUILD_NR_TMPD) && \
	$(CURDIR)/autoconf/configure --disable-root --prefix=/usr \
	   --exec-prefix=/usr/lib/mdaq --docdir=/usr/share/doc/mdaq \
	   --includedir=/usr/lib/mdaq/include \
	   --datadir=/usr/share/mdaq \
	&& $(MAKE) DESTDIR=`pwd` install

## Build docs
HTML_TMPD=$(CURDIR)/build/doc
dox-build:
	@mkdir -p $(HTML_TMPD)
	@cd midas/doxfiles && doxygen midox.cfg
	@cd midas/doxfiles && for i in def html latex man midox.log ; do \
	   mv -f $$i $(HTML_TMPD) ; done
	@tar zxvf $(CURDIR)/midasdoc-images.tar.gz -C $(HTML_TMPD)
	@mv -f $(HTML_TMPD)/images/* $(HTML_TMPD)/html/
	@rmdir $(HTML_TMPD)/images

##############################################################################
%:
	dh $@

build: build-root build-noroot dox-build

pre-clean:
	@rm -rf $(BUILD_R_TMPD)
	@rm -rf $(BUILD_NR_TMPD)
	@rm -rf $(CURDIR)/debian/build
	@rm -rf $(CURDIR)/debian/mdaq-root
	@rm -rf $(CURDIR)/debian/mdaq-noroot
	@rm -rf $(CURDIR)/debian/mdaq-doc
	@cd $(CURDIR)/debian && rm -f *.debhelper *.substvars *.log

#binary-arch:

