#!/usr/bin/make -f
# -*- makefile -*-
#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/autotools.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# PKGDIR
override_dh_auto_build:
	dh_auto_build -- build
override_dh_auto_configure:
	@echo "Skip!"

pre-build:
	cd $(CURDIR) && ./prepare-src.sh

BUILD_DIR=$(CURDIR)/build

## Build source with root support
build-root:
	@mkdir -p $(BUILD_DIR)/root
	@cd $(BUILD_DIR)/root && \
	$(CURDIR)/autoconf/configure --enable-root --prefix=/usr \
	   --exec-prefix=/usr/lib/mdaq --docdir=/usr/share/doc/mdaq \
	   --includedir=/usr/lib/mdaq/include \
	   --datadir=/usr/share/mdaq \
	&& $(MAKE) DESTDIR=`pwd` install

## Build source without root support
build-noroot: builddir-noroot
	@mkdir -p $(BUILD_DIR)/noroot
	@cd $(BUILD_DIR)/noroot && \
	$(CURDIR)/autoconf/configure --disable-root --prefix=/usr \
	   --exec-prefix=/usr/lib/mdaq --docdir=/usr/share/doc/mdaq \
	   --includedir=/usr/lib/mdaq/include \
	   --datadir=/usr/share/mdaq \
	&& $(MAKE) DESTDIR=`pwd` install

## Build docs
dox-build:
	@mkdir -p $(BUILD_DIR)/doc
	@cd midas/doxfiles && doxygen midox.cfg
	@cd midas/doxfiles && for i in def html latex man midox.log ; do \
	   mv -f $$i $(BUILD_DIR)/doc ; done
	@tar zxvf $(CURDIR)/midasdoc-images.tar.gz -C $(BUILD_DIR)/doc
	@mv -f $(BUILD_DIR)/doc/images/* $(BUILD_DIR)/doc/html/
	@rmdir $(BUILD_DIR)/doc/images

##############################################################################
%:
	dh $@

build: build-root build-noroot dox-build

pre-clean:
	@rm -rf $(BUILD_DIR)
	@cd $(CURDIR)/debian && rm -f *.debhelper *.substvars *.log

#binary-arch:

