#!/usr/bin/make -f
# -*- makefile -*-
#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/autotools.mk

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# PKGDIR
override_dh_auto_build:
	dh_auto_build -- build
override_dh_auto_configure:
	@echo "Skip!"

pre-build:
	cd $(CURDIR) && ./autoconf/prepare-src.sh

BUILD_DIR=$(CURDIR)/build

## Build source without root support
build-noroot:
	@mkdir -p $(BUILD_DIR)/noroot
	@cd $(BUILD_DIR) && \
	$(CURDIR)/autoconf/configure --disable-root --prefix=/usr \
	   --exec-prefix=/usr/lib/mdaq --docdir=/usr/share/doc/mdaq \
	   --includedir=/usr/lib/mdaq/include \
	   --datadir=/usr/share/mdaq \
	&& $(MAKE) DESTDIR=`pwd`/noroot install

## Build source with root support
build-root: build-noroot
	-@rm $(BUILD_DIR)/mlogger*
	@mkdir -p $(BUILD_DIR)/root
	@cd $(BUILD_DIR) && \
	$(CURDIR)/autoconf/configure --enable-root --prefix=/usr \
	   --exec-prefix=/usr/lib/mdaq --docdir=/usr/share/doc/mdaq \
	   --includedir=/usr/lib/mdaq/include \
	   --datadir=/usr/share/mdaq \
	&& $(MAKE) DESTDIR=`pwd`/root install

## Build docs
dox-build:
	@mkdir -p $(BUILD_DIR)/doc
	-cd $(CURDIR)/midas/doc/src/ && ./make_contents.pl > contents_output.txt 2>&1
	-cd $(CURDIR)/midas/doc/src/ && ./doit.pl > doit_output.txt 2>&1
	-cd $(CURDIR)/midas/doc/src/ && ./make_index.pl > index_output.txt 2>&1
	-cd $(CURDIR)/midas/doc && rm -f src/*.tmp src/sorted_info.txt.*
	cd $(CURDIR)/midas/doc && tar zxvf midasdoc-images.tar.gz
	cd $(CURDIR)/midas/doc && doxygen
	cd $(CURDIR)/midas/doc && cp -p src/*.js src/*.css html/
	@echo "Copying files ..."
	@mv $(CURDIR)/midas/doc/html $(BUILD_DIR)/doc
	@mv $(CURDIR)/midas/doc/images/* $(BUILD_DIR)/doc/html
	@echo "Clean up midas/doc/ ..."
	-cd $(CURDIR)/midas/doc/src && \
		rm -f *_output.txt *_info.txt docindex.dox Organization.dox
	-cd $(CURDIR)/midas/doc && rm -rf def/ latex/ man/ *.log

##############################################################################
%:
	dh $@

build: build-root build-noroot dox-build

pre-clean:
	@rm -rf $(BUILD_DIR)
	@cd $(CURDIR)/debian && rm -f *.debhelper *.substvars *.log

#binary-arch:

